/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #000;
}

