nav{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  padding: 10px 20px;
  background: #ddd;
  color: #0a459e;
}

a:hover{
  background: #ccc;
}

.myActive{
  background:#9d9d9d ;
}
