 <!-- Button to trigger the info modal -->
<img
  src="../../assets/info.svg"
  alt="info icon"
  class="btn-info"
  data-target="info-modal"
  (click)="toggleModal($event)"
  [ngClass]="{
    'btn-info_dark': getPrefferedColorScheme() === 'dark',
    'btn-info_light': getPrefferedColorScheme() === 'light'
  }"
  >

<!-- info modal -->
<dialog id="info-modal">
<article>
  <a href="#close"
    aria-label="Close"
    class="close"
    data-target="info-modal"
    (click)="toggleModal($event)">
  </a>
  <h3>NgRx application!</h3>
  <p>
    This app shows how NgRx works with simple example:
  </p>
  <footer>
    <a href="#cancel"
      role="button"
      class="secondary"
      data-target="info-modal"
      (click)="toggleModal($event)">
      Ok
    </a>
  </footer>
</article>
</dialog>
