<div class="container">
  <div
    class="title"
    *ngIf="artObjectDetails; else loadingTitle"
  >{{artObjectDetails.artObject.title}}</div>
  <div
    *ngIf="artObjectDetails; else loadingInfo"
    class="info-block"
  >
    <div class="image-block">
      <div
        *ngIf="artObjectDetails.artObject.webImage; else notImage"
        class="image-block__image"
        [ngStyle]="{ 'background-image': 'url(' + artObjectDetails.artObject.webImage.url + ')'}"
        imageScale
      >
      </div>
      <!--    <img class="image-block" src="{{currentArtObject.webImage.url}}" alt="">-->
      <button
        class="input btn btn_orange favorite-button"
        (click)="toggleToFavCollection()"
      >⭐ Add to fav list </button>
      {{isInFavoriteCollection | json}}
    </div>
    <div class="description">{{artObjectDetails.artObject.longTitle}}</div>
  </div>

  <div class="control-block">
    <button
      class="input btn"
      [ngClass]="{'btn_disabled': !dataService.isObjDetailsLoaded}"
      [disabled]="!dataService.isObjDetailsLoaded"
      (click)="goToDetail()"
    >View more details</button>
    <!--  <button-->
    <!--    class="input btn"-->
    <!--    (click)="closePopup()"-->
    <!--  >Close</button>-->
    <button
      class="input btn"
      [routerLink]="'/main'"
    >Close</button>
  </div>
</div>

<!-- Loading templates -->
<ng-template #loadingTitle>
<div class="title">
  <div class="spinner"></div>
</div>
</ng-template>

<ng-template #loadingInfo>
  <div  class="info-block" >
    <div class="image-block">
      <div class="image-block__image" >
        <div class="spinner"></div>
      </div>
      <button
        class="input btn btn_orange favorite-button"
      >⭐ Add to fav list</button>

    </div>

    <div class="description">
      <div class="spinner"></div>
    </div>
  </div>
</ng-template>

<ng-template #notImage>
  <div
    class="image-block__image not-image"
  >
  </div>
</ng-template>
