<div class="container">
  <div class="logo">Additional details</div>
  <div
    class="title"
    *ngIf="artObjectDetails; else loadingTitle"
  >{{artObjectDetails.artObject.title}}</div>

  <div class="info-block">
    <div
      class="image"
      [ngClass]="{'not-image': !artObjectDetails.artObject.webImage.url}"
      *ngIf="artObjectDetails; else loadingImage"
      [ngStyle]="{ backgroundImage: 'url(' + artObjectDetails.artObject.webImage.url + ')'}"
      imageScale
    ></div>
    <div class="details" *ngIf="artObjectDetails; else loadingDetails">
      <div class="details__item">
        <h5 class="details__title">Long Title</h5>
        <div class="details__description">{{artObjectDetails.artObject.longTitle}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">scLabelLine</h5>
        <div class="details__description">{{artObjectDetails.artObject.scLabelLine}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">Date</h5>
        <div class="details__description">{{artObjectDetails.artObject.dating.presentingDate}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">dimensions</h5>
        <div class="details__description">{{artObjectDetails.artObject.subTitle}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">Description</h5>
        <div class="details__description">{{artObjectDetails.artObject.description}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">Materials</h5>
        <div class="details__description">{{artObjectDetails.artObject.materials.join(", ") | titlecase}}</div>
      </div>
      <div class="details__item">
        <h5 class="details__title">Plaque Description</h5>
        <div class="details__description">{{artObjectDetails.artObject.plaqueDescriptionEnglish}}</div>
      </div>

      <div class="details__item">
        <h5 class="details__title">Cathegory</h5>
        <div
          class="details__description details_link">
          <ul>
            <li
              *ngFor="let categoryName of artObjectDetails.artObject.classification.iconClassDescription"
            >{{categoryName}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="control-block">
    <button
      class="input btn"
      [routerLink]="'/main'"
    >Close
    </button>
  </div>
</div>
<!-- Loading templates -->
<ng-template #loadingTitle>
  <div class="title">
    <div class="spinner"></div>
  </div>
</ng-template>

<ng-template #loadingImage>
  <div class="image">
    <div class="spinner"></div>
  </div>
</ng-template>

<ng-template #loadingDetails>
  <div class="details">
    <div class="details__item">
      <h5 class="details__title">Long Title</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">scLabelLine</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">Date</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">dimensions</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">Description</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">Materials</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="details__item">
      <h5 class="details__title">Plaque Description</h5>
      <div class="details__description">
        <div class="spinner"></div>
      </div>
    </div>

    <div class="details__item">
      <h5 class="details__title">Cathegory</h5>
      <div class="details__description">
       <div class="spinner"></div>
      </div>
    </div>
  </div>
</ng-template>
