/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
:root {
  --primary-color: #ff9800;
  --dark-color: #424242;
  --light-color: #eeeeee;
  --blue-color: #1095c1;
  --lightblue-color: #81d4fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: .4rem 1.3rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s;
  outline: none;

  &:hover:not(:disabled) {
    opacity: .8;
  }
}
