<section>
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <div class="input-block input-block_sort">
      <label for="sorting">Order By: </label>
      <select
        formControlName="orderBy"
        name="sort"
        id="sorting"
        class="input select-sort"
      >
        <option value="relevance" [selected]="true">Relevance</option>
        <option value="objecttype">Type</option>
        <option value="chronologic">Chronologically (oldest first)</option>
        <option value="achronologic">Chronologically (newest first)</option>
        <option value="artist">Artist (a-z)</option>
        <option value="artistdesc">Artist (z-a)</option>
      </select>
    </div>
    <div class="input-block input-block_keyword">
      <input
        formControlName="searchKeyword"
        type="text"
        class="input inp-word"
        placeholder="Search keyword..."
      >
    </div>
    <div class="input-block input-block_submit">
      <input type="submit" class="input inp-search btn_orange" value='Search'>
    </div>

  </form>
  <div class="favorite-block">
    <button
      class="input btn btn_orange"
      (click)="dataService.showFavorite = !dataService.showFavorite"
    >{{(dataService.showFavorite) ? '🔙 Back to all collection' : '🌟 Show Favorite'}}</button>
  </div>

  <ng-template [ngIf]="!dataService.showFavorite && !dataService.isArtCollectionLoaded">
    <div class="tiles-container">
      <div
        *ngForWithNumbers="paginationService.paginatorSettings.objectPerPage"
        class="tile tile_pulse border-gray"
      >
        <div class="spinner spinner_no-shift"></div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="dataService.showFavorite">
    <div class="tiles-container">
      <div
        *ngFor="let favoriteArtObject of dataService.favoriteArtCollection"
        class="tile border-gray"
        [ngClass]="{'not-image': !favoriteArtObject.artObject.webImage.url}"
        [ngStyle]="{'background-image': 'url(' + favoriteArtObject.artObject.webImage.url + ')'}"
        [routerLink]="['/main', 'popup',  favoriteArtObject.artObject.objectNumber]"
      >
        <div class="tile__popup-text">
          {{favoriteArtObject.artObject.longTitle}}
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!dataService.showFavorite && dataService.isArtCollectionLoaded &&
  dataService.artCollection.artObjects.length > 0">
    <div class="tiles-container">
      <div
        *ngFor="let artObject of dataService.artObjects"
        class="tile border-gray"
        [ngClass]="{'not-image': !artObject.headerImage.url}"
        [ngStyle]="{'background-image': 'url(' + artObject.headerImage.url + ')'}"
        [routerLink]="['/main', 'popup',  artObject.objectNumber]"
      >
        <div class="tile__popup-text">
          {{artObject.longTitle}}
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!dataService.showFavorite && dataService.isArtCollectionLoaded &&
  dataService.artCollection.artObjects.length <= 0">
    <div class="tiles-container tiles-container_empty">
      No art object could be found by your query.
    </div>
  </ng-template>

  <ng-template [ngIf]="dataService.showFavorite && dataService.favoriteArtCollection.length <= 0">
    <div class="tiles-container tiles-container_empty">
      No art object in your favorite collection could be found by your query.
    </div>
  </ng-template>

  <!--  PAGINATION START -->
  <!--  TODO: Вынести погинацию в отдельный компонент -->
  <div class="pagination">
    <div class="pagination-control">
      <div class="pagination-control pagination-control_left">
        <div
          class="btn pagination-control__start"
          (click)="paginationService.goToStart()"
        >
          <img src="assets/arrow-start.svg" alt="<<<">
        </div>
        <div
          class="btn pagination-control__prev"
          (click)="paginationService.goPrev()"
        >
          <img src="assets/arrow-next.svg" alt="<—">
        </div>
      </div>
      <div
        class="paging pagination__numbers"
        *ngIf="!dataService.showFavorite
        && (dataService.artCollection && dataService.artCollection.artObjects.length > 0); else
        singlePage"
      >
        <ul>
          <li
            [ngClass]="{
            'pagination__numbers_active': page === paginationService.paginatorSettings.currentPage
            }"
            *ngFor="let page of paginationService.paginatorSettings.paging"
            (click)="paginationService.changePage(+page)"
          >{{page}}</li>
        </ul>
      </div>
      <div class="pagination-control pagination-control_right">
        <div
          class="btn pagination-control__next"
          (click)="paginationService.goNext()"
        >
          <img src="assets/arrow-next.svg" alt="—>">
        </div>
        <div
          class="btn pagination-control__finish"
          (click)="paginationService.goToFinish()"
        >
          <img src="assets/arrow-start.svg" alt=">>>">
        </div>
      </div>
    </div>
    <div class="results-per-page pagination__numbers">
      <ul>
        <li
          [ngClass]="{
            'pagination__numbers_active': +numOfPages === paginationService.paginatorSettings.objectPerPage
            }"
          *ngFor="let numOfPages of paginationService.paginatorSettings.allowedResultsPerPage"
          (click)="paginationService.changeResultsPerPage(+numOfPages)"

        >{{numOfPages}}</li>
      </ul>
    </div>
  </div>

  <ng-template #singlePage>
    <div class="paging pagination__numbers">
      <ul>
        <li class="pagination__numbers_active">1</li>
      </ul>
    </div>
  </ng-template>
  <!--  PAGINATION FINISH -->
</section>


<router-outlet></router-outlet>
