@import "variables";

:host  {
  display: block;
  max-width: $bodyWidthLimit;
  min-height: 100vh;
  background-color: lightblue;
  margin: 0 auto;
  padding: 20px 0;
}

* {
  font-size: 16px;
}

form {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  label {
    min-width: 70px;
  }
}

.select-sort,
.inp-word,
.inp-search {
  color: $colorGrey;
  margin: 0 5px;
}

.select-sort {
  //width: 32%;
  font-size: 14px;
}
.inp-word {
  width: 50%;
}
.inp-search {
  width: 20%;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px -#{$tileSideMargin} 0;
  color: $colorGrey;
}

.tile {
  //width: 150px;
  position: relative;
  width: calc(100% / 12 * 2 - (#{$tileSideMargin} * 2));
  height: 150px;
  overflow: hidden;
  margin: $tileSideMargin;
  background-position: center;
  background-size: cover ;
  cursor: pointer;

  &_pulse {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
  }
  &__popup-text {
    position: absolute;
    bottom: 0;
    transform: translateY(150px);
    transform-origin: bottom;
    color: $colorGrey;
    background-color: #dddddd;
    font-size: 14px;
    padding: 5px 10px;
    transition: 1s ease;
    cursor: pointer;
    user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
  }

  &:hover &__popup-text{
    transform: translateY(0);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(.975);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 100%;
    justify-content: space-between;
    padding: 0 $tileSideMargin;
  }

  .tiles-container {
    margin: 20px 0 0;
  }
  .tile {
    width: calc(100% / 12 * 3 - (#{$tileSideMargin} * 2));
  }
}

@media screen and (max-width: 700px) {
  form {
    flex-direction: column;
    align-items: center;
  }

  .select-sort,
  .inp-word,
  .inp-search {
    margin: 10px 0;
  }

  .select-sort,
  .inp-word{
    width: 100%;
  }

  .inp-search {
    width: 50%;
  }

  .tiles-container {
    margin: 0;
  }

  .tile {
    width: calc(100% / 12 * 4 - (#{$tileSideMargin} * 2));
  }
}

@media screen and (max-width: 500px) {
  .tile {
    width: calc(100% / 12 * 6 - (#{$tileSideMargin} * 2));
  }
}

@media screen and (max-width: 400px) {
  .tile {
    width: calc(100% - (#{$tileSideMargin} * 2));
  }
}
