<section>
  <form (ngSubmit)="searchCollection()">
    <input type="text" class="input inp-type" placeholder="Order by: Type">
    <input type="text" class="input inp-word" placeholder="Search keyword...">
    <input type="submit" class="input inp-search btn_orange" value='Search' >
  </form>

  <div class="tiles-container" *ngIf="!dataService.isLoading; else loadingTileContainer">
<!--    <div-->
<!--      *ngFor="let artObject of artObjects"-->
<!--      class="tile border-gray"-->
<!--      [ngStyle]="{'background-image': 'url(' + artObject.headerImage.url + ')'}"-->
<!--      (click)="isPopupOpen = !isPopupOpen"-->
<!--    >-->
      <div
      *ngFor="let artObject of dataService.artObjects"
      class="tile border-gray"
      [ngClass]="{'not-image': !artObject.headerImage.url}"
      [ngStyle]="{'background-image': 'url(' + artObject.headerImage.url + ')'}"
      [routerLink]="['/main', 'popup',  artObject.id]"
    >
      <div class="tile__popup-text">
        {{artObject.longTitle}}
      </div>
    </div>


  </div>
  <div class="pagination">
    <div class="pagination-control">
      <div class="pagination-control pagination-control_left">
        <div
          class="btn pagination-control__start"
          (click)="paginationService.goToStart()"
        >
          <img src="assets/arrow-start.svg" alt="<<<">
        </div>
        <div
          class="btn pagination-control__prev"
          (click)="paginationService.goPrev()"
        >
          <img src="assets/arrow-next.svg" alt="<—">
        </div>
      </div>
      <div
        class="paging pagination__numbers"
      >
        <ul>
          <li
            [ngClass]="{
            'pagination__numbers_active': page === paginationService.paginatorSettings.currentPage
            }"
            *ngFor="let page of paginationService.paginatorSettings.paging"
            (click)="paginationService.changePage(+page)"
          >{{page}}</li>
        </ul>
      </div>
      <div class="pagination-control pagination-control_right">
        <div
          class="btn pagination-control__next"
          (click)="paginationService.goNext()"
        >
          <img src="assets/arrow-next.svg" alt="—>">
        </div>
        <div
          class="btn pagination-control__finish"
          (click)="paginationService.goToFinish()"
        >
          <img src="assets/arrow-start.svg" alt=">>>">
        </div>
      </div>
    </div>
    <div class="results-per-page pagination__numbers">
      <ul>
        <li
          [ngClass]="{
            'pagination__numbers_active': +numOfPages === paginationService.paginatorSettings.objectPerPage
            }"
          *ngFor="let numOfPages of paginationService.paginatorSettings.allowedResultsPerPage"
          (click)="paginationService.changeResultsPerPage(+numOfPages)"
        >{{numOfPages}}</li>
      </ul>
    </div>
  </div>
  <ng-template #loadingTileContainer>
    <div class="tiles-container">
      <div
        *ngForWithNumbers="paginationService.paginatorSettings.objectPerPage"
        class="tile tile_pulse border-gray"
      >
        <div class="spinner spinner_no-shift"></div>
      </div>
    </div>
  </ng-template>
</section>

<!--<div-->
<!--  *ngIf="isPopupOpen"-->
<!--  class="modal-overlay"-->
<!--&gt;-->
<!--&lt;!&ndash;  <app-popup&ndash;&gt;-->
<!--&lt;!&ndash;    [ngClass]="isPopupOpen? 'active' : 'inactive'"&ndash;&gt;-->
<!--&lt;!&ndash;    (btnCloseHandler)="closePopupHandler()"&ndash;&gt;-->
<!--&lt;!&ndash;    [isVisible]="isPopupOpen"&ndash;&gt;-->
<!--&lt;!&ndash;  ></app-popup>&ndash;&gt;-->
<!--</div>-->

<router-outlet></router-outlet>
<!--<div class="modal-overlay" *ngIf="(isReportModalOpen)"></div>-->
