<section>
  <form (ngSubmit)="searchCollection()">
    <input type="text" class="input inp-type" placeholder="Order by: Type">
    <input type="text" class="input inp-word" placeholder="Search keyword...">
    <input type="submit" class="input inp-search btn_orange" value='Search' >
  </form>

  <div class="tiles-container" *ngIf="dataService.artCollection; else loadingTileContainer">
<!--    <div-->
<!--      *ngFor="let artObject of artObjects"-->
<!--      class="tile border-gray"-->
<!--      [ngStyle]="{'background-image': 'url(' + artObject.headerImage.url + ')'}"-->
<!--      (click)="isPopupOpen = !isPopupOpen"-->
<!--    >-->
      <div
      *ngFor="let artObject of dataService.artObjects"
      class="tile border-gray"
      [ngStyle]="{'background-image': 'url(' + artObject.headerImage.url + ')'}"
      [routerLink]="['/main', 'popup',  artObject.id]"
    >
      <div class="tile__popup-text">
        {{artObject.longTitle}}
      </div>
    </div>

    <div class="pagination">
      <div class="pagination-control">
        <div class="pagination-control_left"></div>
        <div class="paging"></div>
        <div class="pagination-control_right"></div>
      </div>
      <div class="results-per-page">
        <ul>
          <li
            *ngFor="let results of paginationService.paginatorSettings.allowedResultsPerPage"
            (click)="paginationService.changeResultsPerPage(+results)"
          >{{results}}</li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template #loadingTileContainer>
    <div class="tiles-container">
      <div
        *ngForWithNumbers="dataService.objectsOnPage"
        class="tile tile_pulse border-gray"
      >
        <div class="spinner spinner_no-shift"></div>
      </div>
    </div>
  </ng-template>
</section>

<!--<div-->
<!--  *ngIf="isPopupOpen"-->
<!--  class="modal-overlay"-->
<!--&gt;-->
<!--&lt;!&ndash;  <app-popup&ndash;&gt;-->
<!--&lt;!&ndash;    [ngClass]="isPopupOpen? 'active' : 'inactive'"&ndash;&gt;-->
<!--&lt;!&ndash;    (btnCloseHandler)="closePopupHandler()"&ndash;&gt;-->
<!--&lt;!&ndash;    [isVisible]="isPopupOpen"&ndash;&gt;-->
<!--&lt;!&ndash;  ></app-popup>&ndash;&gt;-->
<!--</div>-->

<router-outlet></router-outlet>
<!--<div class="modal-overlay" *ngIf="(isReportModalOpen)"></div>-->
